@charset "UTF-8";
body {
  font-family: 'Ubuntu Condensed', sans-serif; }

/* Navbar */
.navbar {
  background: #fff;
  box-shadow: 0px 3px 12px rgba(107, 107, 107, 0.39);
  padding: 0px; }
  .navbar .habbolicious {
    height: 70px;
    transition: 0.3s; }
    .navbar .habbolicious:hover {
      transform: scale(1.2); }
  .navbar .navbar-toggler {
    transition: 0.3s;
    margin-right: 10px; }
    .navbar .navbar-toggler:hover {
      background: #e6e6e6; }
    .navbar .navbar-toggler i {
      color: #b1b1b1; }
  .navbar .navbar-nav {
    text-align: center; }
    .navbar .navbar-nav .nav-link {
      transition: 0.3s; }
      .navbar .navbar-nav .nav-link:hover {
        background: #eaeaea; }
    .navbar .navbar-nav .ico-inicio {
      background-image: url("/img/icons/v22_1(1).gif");
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto; }
    .navbar .navbar-nav .ico-noticias {
      background-image: url("/img/icons/text.gif");
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto; }
    .navbar .navbar-nav .ico-blogs {
      background-image: url("/img/icons/v22_5.gif");
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto; }
    .navbar .navbar-nav .ico-loteria {
      background-image: url("/img/icons/toolbar_03.gif");
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto; }
    .navbar .navbar-nav .ico-catalogo {
      background-image: url("/img/icons/toolbar_04.gif");
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto; }
    .navbar .navbar-nav .ico-eventos {
      background-image: url("/img/icons/v20_b3.gif");
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto; }
    .navbar .navbar-nav .ico-equipo {
      background-image: url("/img/icons/star_3.gif");
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto; }
    .navbar .navbar-nav .ico-vacantes {
      background-image: url("/img/icons/v22_4(1).gif");
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto; }
    .navbar .navbar-nav .ico-utilidades {
      background-image: url("/img/icons/pwrup_pins.gif");
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto; }
    .navbar .navbar-nav .ico-iniciar {
      background-image: url("/img/icons/room_icon_password.gif");
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: auto; }
    .navbar .navbar-nav a {
      color: #616161;
      font-weight: bold;
      transition: 0.3s; }
      .navbar .navbar-nav a:hover {
        color: #c90497; }

/* celular y tablet */
@media (max-width: 991.98px) {
  .navbar .habbolicious {
    height: 50px;
    margin-left: 10px; }
  .navbar .navbar-nav .nav-link {
    font-size: 12px; }
  .navbar .navbar-nav .ico-inicio {
    background-image: url("/img/icons/v22_1(1).gif");
    width: 30px;
    height: 30px;
    display: inline-block !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; }
  .navbar .navbar-nav .ico-noticias {
    background-image: url("/img/icons/text.gif");
    width: 30px;
    height: 30px;
    display: inline-block !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; }
  .navbar .navbar-nav .ico-blogs {
    background-image: url("/img/icons/v22_5.gif");
    width: 30px;
    height: 30px;
    display: inline-block !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; }
  .navbar .navbar-nav .ico-loteria {
    background-image: url("/img/icons/toolbar_03.gif");
    width: 30px;
    height: 30px;
    display: inline-block !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; }
  .navbar .navbar-nav .ico-catalogo {
    background-image: url("/img/icons/toolbar_04.gif");
    width: 30px;
    height: 30px;
    display: inline-block !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; }
  .navbar .navbar-nav .ico-eventos {
    background-image: url("/img/icons/v20_b3.gif");
    width: 30px;
    height: 30px;
    display: inline-block !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; }
  .navbar .navbar-nav .ico-equipo {
    background-image: url("/img/icons/star_3.gif");
    width: 30px;
    height: 30px;
    display: inline-block !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; }
  .navbar .navbar-nav .ico-vacantes {
    background-image: url("/img/icons/v22_4(1).gif");
    width: 30px;
    height: 30px;
    display: inline-block !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; }
  .navbar .navbar-nav .ico-utilidades {
    background-image: url("/img/icons/pwrup_pins.gif");
    width: 30px;
    height: 30px;
    display: inline-block !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; }
  .navbar .navbar-nav .ico-iniciar {
    background-image: url("/img/icons/room_icon_password.gif");
    width: 30px;
    height: 30px;
    display: inline-block !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px; } }
@media (max-width: 766px) {
  .navbar .navbar-collapse {
    overflow-y: auto;
    max-height: 260px; } }
/* P├ígina principal */
.principal {
  margin-top: 60px; }
  .principal .fondo {
    background-image: url(/img/extra/t39MERG.png);
    height: 380px;
    background-size: 700px;
    background-color: #ffccfc;
    border-bottom: 10px solid white;
    box-shadow: 0px 0px 10px #0000004f; }
    .principal .fondo .globos {
      position: absolute;
      width: 100%;
      height: 380px;
      background-image: url(/img/extra/globos.png);
      background-size: 200px;
      transition: 0.3s;
      animation: animatedBackground 10s linear infinite;
      -moz-animation: animatedBackground 10s linear infinite;
      -webkit-animation: animatedBackground 10s linear infinite;
      -ms-animation: animatedBackground 10s linear infinite;
      -o-animation: animatedBackground 10s linear infinite; }
@keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -300px 0; } }
@-moz-keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -300px 0; } }
@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -300px 0; } }
@-ms-keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -300px 0; } }
@-o-keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -300px 0; } }
    .principal .fondo .owl-carousel {
      margin-top: 70px;
      box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.473);
      color: white; }
      .principal .fondo .owl-carousel .owl-dots {
        position: absolute;
        top: 110px;
        left: 20px; }
      .principal .fondo .owl-carousel .item {
        height: 10rem;
        background: black;
        padding: 1rem;
        background-size: cover;
        background-repeat: none;
        background-position: center; }
    .principal .fondo .radio {
      margin-top: 70px;
      background: white;
      box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.473); }
      .principal .fondo .radio span {
        margin-right: 10px; }
      .principal .fondo .radio .titulo-radio {
        padding: 10px;
        background: #cccccc;
        color: #4e4e4e;
        margin-top: 12px;
        margin-left: 20px;
        font-size: 13px;
        border-radius: 5px;
        margin-bottom: 10px;
        font-weight: bold;
        overflow: hidden; }
      .principal .fondo .radio .cancion-radio {
        padding: 10px;
        background: #cccccc;
        color: #4e4e4e;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 13px;
        border-radius: 5px;
        margin-bottom: 10px;
        overflow: hidden; }
      .principal .fondo .radio .menu-radio .dj {
        display: inline-block;
        background: #cccccc;
        color: #4e4e4e;
        font-size: 13px;
        margin-left: 20px;
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s; }
        .principal .fondo .radio .menu-radio .dj:hover {
          color: white;
          background: #f980a0; }
      .principal .fondo .radio .menu-radio .play {
        display: inline-block;
        background: #cccccc;
        color: #4e4e4e;
        font-size: 13px;
        margin-left: 4px;
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s; }
        .principal .fondo .radio .menu-radio .play:hover {
          color: white;
          background: #f980a0; }
      .principal .fondo .radio .menu-radio .stop {
        display: inline-block;
        background: #cccccc;
        color: #4e4e4e;
        font-size: 13px;
        margin-left: 4px;
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s; }
        .principal .fondo .radio .menu-radio .stop:hover {
          color: white;
          background: #f980a0; }
      .principal .fondo .radio .menu-radio .enviar-peticion {
        display: inline-block;
        background: #cccccc;
        color: #4e4e4e;
        font-size: 13px;
        margin-left: 4px;
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s; }
        .principal .fondo .radio .menu-radio .enviar-peticion:hover {
          color: white;
          background: #f980a0; }
      .principal .fondo .radio .menu-radio .volumen {
        display: inline-block;
        background: #cccccc;
        color: #4e4e4e;
        font-size: 13px;
        margin-left: 4px;
        padding: 10px;
        border-radius: 5px;
        width: 70px; }
        .principal .fondo .radio .menu-radio .volumen #slider {
          display: inline-block;
          width: 100%; }
      .principal .fondo .radio .avatar-radio {
        background: linear-gradient(180deg, #3586c1, #0c3a65);
        color: white;
        height: 160px;
        padding: 10px;
        margin: auto; }
        .principal .fondo .radio .avatar-radio .oyentes {
          font-size: 13px;
          position: absolute; }
        .principal .fondo .radio .avatar-radio .avatar {
          height: 150px;
          background-repeat: no-repeat;
          background-position: center -9px;
          transition: 0.6s;
          z-index: -1; }
          .principal .fondo .radio .avatar-radio .avatar:hover {
            transform: translateX(-84px); }
  @media (max-width: 991.98px) {
    .principal .fondo {
      height: 650px; }
      .principal .fondo .radio .titulo-radio {
        padding: 10px;
        margin-right: 20px;
        background: #cccccc;
        color: #4e4e4e;
        margin-top: 14px;
        margin-left: 20px;
        font-size: 13px;
        border-radius: 5px;
        margin-bottom: 10px;
        font-weight: bold;
        overflow: hidden; }
      .principal .fondo .radio .cancion-radio {
        padding: 10px;
        background: #cccccc;
        color: #4e4e4e;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 13px;
        border-radius: 5px;
        margin-bottom: 10px;
        overflow: hidden; }
      .principal .fondo .radio .avatar-radio .avatar {
        height: 150px;
        background-repeat: no-repeat;
        background-position: center -9px;
        transition: 0.6s;
        z-index: -1; }
        .principal .fondo .radio .avatar-radio .avatar:hover {
          transform: translateX(0px); }
      .principal .fondo .radio .menu-radio {
        margin-bottom: 13px; } }

footer {
  background: #f980a0;
  text-align: right;
  padding-top: 30px !important;
  padding-bottom: 20px; }
  footer .habbolicious {
    height: 70px;
    transition: 0.6s; }
  footer .habboli {
    font-weight: bold;
    font-size: 16px; }
  footer .mapa {
    font-size: 16px;
    color: #ffd2e8; }
    footer .mapa a {
      transition: 0.5s;
      color: #ffd2e8; }
      footer .mapa a:hover {
        text-decoration: none;
        color: #ffffff; }
  footer span {
    font-size: 13px;
    color: #ffd2e8; }

/*# sourceMappingURL=styles.css.map */
